.Account .van-icon {
  color: #0c34ba;
}
.Account .van-nav-bar__text {
  color: #0c34ba;
}
.Account .account-bg {
  height: 2.66667rem;
  background-color: #0c34ba;
}
.Account .list-box {
  margin: -0.8rem 0.26667rem 0;
  border-top-left-radius: 0.26667rem;
  border-top-right-radius: 0.26667rem;
  background-color: #fff;
  overflow: hidden;
  padding: 0.3rem;
}
.Account .list-box .avatar {
  width: 1.06667rem;
  height: 1.06667rem;
  background-color: #f5f5f5;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
}
.Account .list-box .avatar .uploader-box {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
.Account .list-box .van-cell {
  padding: 0;
  line-height: 1.06667rem;
  padding-bottom: 0.26667rem;
}
.Account .list-box .van-field__control {
  color: #969799;
}
.Like .van-icon {
  color: #0c34ba;
}
.Like .van-nav-bar__text {
  color: #0c34ba;
}
.Like .account-bg {
  height: 3.2rem;
  background-color: #0c34ba;
}
.Like .like-box {
  margin: -0.8rem 0.26667rem 0;
  border-top-left-radius: 0.26667rem;
  border-top-right-radius: 0.26667rem;
  background-color: #fff;
  padding: 0.16667rem;
  display: flex;
}
.Like .like-box .pro-item {
  width: calc(50% - 0.13333rem);
  margin: 0.13333rem;
}
.Like .like-box .pro-item .pro-name {
  margin-top: 0.26667rem;
  font-size: 0.42667rem;
}
.Like .like-box .pro-item .pro-enname {
  color: #999;
  font-size: 0.32rem;
}
.Like .like-box .pro-item .pro-price {
  color: #e4393c;
  font-weight: 700;
  font-size: 0.37333rem;
  margin-top: 0.1rem;
  margin-left: -0.1rem;
}
.Like .like-box .pro-item .van-icon {
  width: 0.53333rem;
  height: 0.53333rem;
  font-size: 0.53333rem;
  color: #999;
}
.Address .van-icon {
  color: #0c34ba;
}
.Address .van-nav-bar__text {
  color: #0c34ba;
}
.Secure .van-icon {
  color: #0c34ba;
}
.Secure .van-nav-bar__text {
  color: #0c34ba;
}
.Secure .secure-bg {
  height: 2.66667rem;
  background-color: #0c34ba;
}
.Secure .secure-box {
  margin: -0.8rem 0.26667rem 0;
  border-top-left-radius: 0.26667rem;
  border-top-right-radius: 0.26667rem;
  background-color: #fff;
  padding: 0.26667rem;
}
.Secure .btn-box {
  margin-top: 2.66667rem;
  padding: 0.26667rem;
}
.Secure .van-button--info {
  background-color: #0c34ba;
  border-color: #0c34ba;
}
.Secure .van-button {
  width: 100%;
  font-size: 15px;
}
.Secure .change-box .change-title {
  font-size: 0.64rem;
  padding: 0.26667rem;
}
.Secure .change-box .v-login {
  margin-top: 0.6777rem;
  color: white;
  background: #0c34ba;
  border-color: #0c34ba;
}
.Secure .change-box .password {
  padding: 0.3rem;
}
.order .order-bg {
  height: 2.66667rem;
  background-color: #0c34ba;
}
.order .bg-content {
  margin: 0 0.26667rem;
  position: relative;
  top: -0.53333rem;
  border-top-left-radius: 0.26667rem;
  border-top-right-radius: 0.26667rem;
  overflow: hidden;
}
.order .white {
  background-color: #fff;
}
.order .order-list {
  margin-bottom: 0.26667rem;
  background-color: #fff;
  padding: 0.26667rem;
}
.order .a {
  margin-bottom: 40px;
}
.order .info-title {
  padding: 0.26667rem 0;
  font-size: 0.37333rem;
  font-weight: 700;
}
.order .info-title-no {
  font-size: 0.37333rem;
  color: #666;
}
.order .reinfo {
  font-size: 0.37333rem;
  color: #666;
}
.order .delete {
  padding-left: 5px;
}
.order .pro-item {
  padding-bottom: 15px;
}
.order .auto_img {
  float: left;
  width: 2.13333rem;
  height: 2.13333rem;
  margin-right: 10px;
}
.order .pro-name {
  font-size: 0.37333rem;
  max-width: 2.66667rem;
}
.order .pro-enname {
  font-size: 0.32rem;
  color: #999;
  margin-top: 0.08rem;
}
.order .pro-price {
  font-size: 0.37333rem;
  font-weight: 700;
  color: #e4393c;
  margin-top: 15px;
  margin-left: -5px;
}
.order .bottom-into {
  font-size: 0.37333rem;
  align-items: center;
  padding: 0.53333rem 0 0.26667rem;
  border-top: 0.02667rem dashed #e8e8e8;
  position: relative;
  flex-wrap: wrap;
}
.order .total {
  color: #e4393c;
  font-weight: 700;
  margin-left: auto;
}
