.home .home-nav {
  display: flex;
  line-height: 45px;
}
.t1 {
  font-weight: bold;
}
.t2 {
  color: #3F48CC;
  font-weight: bold;
  /* margin-left: 10px; */
}
.van-nav-bar__content {
  height: 55px;
}
.product-box {
  padding-bottom: 50px;
}
.pro-item {
  width: 177px;
  margin: 5px;
  position: relative;
}
.pro-item .hot {
  background-color: #e4393c;
  color: #ffffff;
  position: absolute;
  font-size: 8px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  top: 0px;
  right: 0px;
  padding: 0 5px;
}
.pro-name {
  margin-top: 0.26667rem;
  font-size: 0.42667rem;
  font-weight: normal;
}
.pro-enname {
  height: 14px;
  font-size: 0.32rem;
  color: #999;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.pro-price {
  color: #e4393c;
  font-weight: 700;
  font-size: 0.37333rem;
  margin-left: -3px;
  padding-top: 1px;
}
